<br />
<h1>Investimentos</h1>
<p>Olá {{userInvestiments.fullName}}, seja bem vindo ao portal de investimentos!</p>

<div class="balance" >
    <fa-icon [icon]="faMoneyCheck" style="color: green; font-size: 30px;"></fa-icon>
    Saldo Consolidado
    <br />
    R$ {{userInvestiments.amount}}
</div>
<div class="balance" >
    <fa-icon [icon]="faMoneyCheck" style="color: green; font-size: 30px;"></fa-icon>
    Saldo
    <br />
    R$ {{userInvestiments.bankBalance}}
</div>



<table class="table">
    <thead class="thead-dark">
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Valor</th>
    </thead>
    <tbody>
        
        <tr *ngFor="let investment of userInvestiments.investimentAssets">
            <td>{{investment.name}}</td>
            <td>{{investment.quantity}}</td>
            <td>{{investment.value}}</td>
        </tr>
    </tbody>
</table>
